.invoice-print {
    .ant-table {
        font-size: 18px; // tăng chữ table

        .ant-table-thead > tr > th {
            font-size: 18px; // chữ header
        }

        .ant-table-tbody > tr > td {
            font-size: 18px; // chữ nội dung
        }
    }
}
