.ant-list-item {
    padding: 12px 12px !important;
}

.ant-table-cell .ant-btn.ant-btn-link {
    padding: 0 4px !important;
}

.ant-table-content {
    overflow: auto !important;
}

@media (max-width: 575px) {
    .ant-layout {
        background: none !important;
    }
}

.ant-timeline-item-last {
    @apply !pb-0;
}

.ant-menu-item-selected,
.ant-menu-submenu-vertical.ant-menu-submenu-selected {
    background-color: @colorPrimary !important;

    &, .ant-menu-title-content, .ant-menu-submenu-arrow {
        color: white !important;
    }
}

.ant-timeline-item-content {
    @apply !min-h-0;
}

.ant-image-preview-close {
    background-color: #00000078;
}

.ant-spin-container {
    @apply h-full;
}

.ant-spin {
    @apply !max-h-full !z-[1001];
}