// Theme variables for LESS
@light-1: #fff !important;
@dark-1: #031930 !important;
@dark-2: #223a59 !important;

@colorPrimary: #3684db;
@colorLink: #3684db;
@colorSuccess: #4caf50;
@colorWarning: #ffc107;
@colorError: #ff6f61;
@colorTextHeading: #031930;
@colorText: #223a59;
@colorTextSecondary: #758ba5;
@borderRadiusLG: 4px;
@borderRadiusSM: 8px;
@borderRadiusXS: 12px;
@colorBorder: #b3d6f9;
@colorBorderBg: #d1dded;
@colorBgLayout: #ffffff;
@colorBgBase: #ffffff;
@colorBgContainer: #ffffff;
