.custom-breadcrumbs {
    position: relative;
    width: 100%;
    float: left;
    height: 35px;
    box-sizing: border-box;
}

.breadcrumbs__item {
    max-height: 35px;
    white-space: nowrap;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.custom-breadcrumbs > ul > .breadcrumbs__item {
    position: relative;
    float: left;
    transform: skewX(-15deg);
    background-color: #fff;
    box-shadow: -6px 0px 18px -6px rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 70px;
    margin-left: -45px;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    min-width: fit-content;
}

.custom-breadcrumbs > ul > .breadcrumbs__home {
    width: 80px;
    transform: unset;
    border-radius: 5px 0px 0px 5px;
    box-sizing: border-box;
    padding: 0 10px;
}

.custom-breadcrumbs > ul > .breadcrumbs__home > .breadcrumbs__home-link {
    font-size: 1rem;
    text-decoration: none;
    color: @colorTextHeading;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.custom-breadcrumbs > ul > .breadcrumbs__item > .breadcrumbs__link {
    font-size: 1rem;
    transform: skewX(15deg);
    text-decoration: none !important;
    color: @colorTextHeading;
    font-weight: 300;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-breadcrumbs > ul > .breadcrumbs__item:first-child {
    margin-left: 0px;
}

.custom-breadcrumbs > ul > .breadcrumbs__item:not(.breadcrumbs__home):not(:last-child):hover {
    background-color: @colorLink;
    border: 1px solid @colorBorderBg;
}

.custom-breadcrumbs > ul > .breadcrumbs__item:not(.breadcrumbs__home):not(:last-child):hover .breadcrumbs__link {
    color: @colorBgBase;
}

.custom-breadcrumbs > ul > .breadcrumbs__item:last-child {
    background-color: @colorPrimary;
    border-radius: 0px 24px 12px 0px;
    cursor: default;
}

.custom-breadcrumbs > ul > .breadcrumbs__item:last-child .breadcrumbs__link {
    font-weight: 600;
    cursor: default;
}

.custom-breadcrumbs > ul > .breadcrumbs__item:last-child > .breadcrumbs__link {
    color: @colorBgBase;
}

.custom-breadcrumbs > ul:hover > .breadcrumbs__item {
    margin-left: 0px;
}
