.employee-image.employee-image-select {
    width: 200px !important;
    height: 200px !important;
    border-radius: 8px;
}

.employee-image-list-item-container {
    width: 200px !important;
    height: 200px !important;
}
