.custom-breadcrumbs {
  position: relative;
  width: 100%;
  float: left;
  height: 35px;
  box-sizing: border-box;
}

.custom-breadcrumbs > ul {
  min-width: max-content;
  margin: 0;
  padding: 0;
  list-style: none;
}

.custom-breadcrumbs > ul::after {
  content: "";
  display: block;
  clear: both;
}

.breadcrumbs__item {
  max-height: 35px;
  white-space: nowrap;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-breadcrumbs > ul > .breadcrumbs__item {
  position: relative;
  float: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: skewX(-15deg);
  background-color: #ffffff;
  box-shadow: -6px 0 18px -6px rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 70px;
  margin-left: -45px;
  padding: 0 15px;
  min-width: fit-content;
  transition: all 0.5s;
}

.custom-breadcrumbs > ul > .breadcrumbs__item:first-child {
  margin-left: 0;
}

.custom-breadcrumbs > ul > .breadcrumbs__home {
  width: 80px;
  transform: none;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  padding: 0 10px;
}

.breadcrumbs__home-link {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  font-weight: 300;
  color: #334155;
  text-decoration: none;
}

.breadcrumbs__link {
  display: inline-block;
  transform: skewX(15deg);
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #334155;
  text-decoration: none !important;
  font-size: 1rem;
  font-weight: 300;
}

.custom-breadcrumbs
  > ul
  > .breadcrumbs__item:not(.breadcrumbs__home):not(:last-child):hover {
  background-color: #2563eb;
  border: 1px solid #dbeafe;
  z-index: 4;
}

.custom-breadcrumbs
  > ul
  > .breadcrumbs__item:not(.breadcrumbs__home):not(:last-child):hover
  .breadcrumbs__link {
  color: #ffffff;
}

.custom-breadcrumbs > ul > .breadcrumbs__item:last-child {
  background-color: #0078ff;
  border-radius: 0 24px 12px 0;
  cursor: default;
  z-index: 5;
}

.custom-breadcrumbs > ul > .breadcrumbs__item:last-child .breadcrumbs__link {
  color: #ffffff;
  font-weight: 600;
  cursor: default;
}

.custom-breadcrumbs > ul:hover > .breadcrumbs__item {
  margin-left: 0;
}

@media (max-width: 768px) {
  .custom-breadcrumbs {
    height: 33px;
  }

  .breadcrumbs__item {
    max-height: 33px;
  }

  .custom-breadcrumbs > ul > .breadcrumbs__item {
    margin-left: -28px;
    padding: 0 12px;
    max-width: 180px;
  }

  .custom-breadcrumbs > ul > .breadcrumbs__home {
    padding: 0 10px;
  }

  .breadcrumbs__home-link,
  .breadcrumbs__link {
    font-size: 0.9rem;
  }
}
